@font-face {
    font-family: "RobotoMono";
    src: url("./fonts/RobotoMono-Thin.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: RobotoMono, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, rgb(66, 39, 90), rgb(115, 75, 109));
}
